
<div class="col-md-12">
    <div class="containerr">
        
        <div class="column add-bottom">
            <div id="mainwrap">
                <div id="nowPlay">
                    <span class="left" id="npAction">Paused...</span>
                    <span class="right" id="npTitle"></span>
                </div>
                <div id="audiowrap">
                    <div id="audio0">
                        <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                    </div>
                    <div id="tracks">
                        <a id="btnPrev">&laquo;</a>
                        <a id="btnNext">&raquo;</a>
                    </div>
                </div>
            
                <div class="panel panel-primary" id="result_panel">
                <div class='panel-body"' id="plwrap">
                    <ul class="list-group" id="plList"></ul>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
