
    <div class="p-4 p-md-5 pt-5">
        <div style='margin-bottom:40px;'>
         <div class="row">
           <div class="col-md-12" style='text-align:left'>
             <p style='font-weight:600; font-size:18px; color:#033600;'>Select Region</p>
           </div>
         </div>
        
          <div class="row">
            <div class="col-md-12">
          
              <div id="accordion" class="myaccordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button  routerLinkActive="active" routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ashanti Region
                        <span class="fa-stack fa-sm">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
               
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Bono Region
                        <span class="fa-stack fa-2x">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                  
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Ahafo Region
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                 
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Central Region
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                  
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Eastern Region
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                 
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Greater Accra Region
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                 
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button routerLink="/components/Branches" class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Norther Region
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-chevron-right fa-stack-2x"></i>
                        </span>
                      </button>
                    </h2>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        
        </div>
  
  </div>