
  
  audio {
    width: 100%;
    height: 100%;
  }
  
  .containerr {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    /* background: url(../../../../../assets/images/audio-book-art.jpg); */
    background-size: cover;
  }
  
  .video-cover audio {
    object-fit: cover;
  }
  
  

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: none;
    text-align: left;
    padding: 20px;
    padding-left: 50px;
    color:rgb(90, 90, 90);
  }
  
  

table tbody tr:first-child td {
    color: #033600;
    font-size:16px;
    font-weight:600;
 }

  tr:nth-child(even) {
    background-color: #dddddd;
  }