<div class="p-1 p-md-3 pt-5" style='margin-top:-60px;'>
    <div class="row">
        <div class="col-md-12" style='padding:0px'>


            <div [ngStyle]="{'background-image':'url('+audiobook.cover+')'}" class="containerr video-cover">
                <audio width="480" controls>
                    <source src="https://opds.ghanalibrary.org/audio?id=97b2cb9212aaa799c3d97027c6d38de1" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="col-md-12" style='padding:0px'>
            <table>
                <thead>
                    <tr>

                        <th style='width:90%;'>{{audiobook.title}}</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of audiobook.playlist">
                        <td><span></span> <span> {{track.title}}</span></td>
                        <!-- <td><i class="fa fa- fa-volume-up"></i></td> -->
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>