
.bg {
	/* The image used */
	background: url(~/assets/other-backgrounds/LOGIN@2x.png);
	height: 100vh;
	width: 100%;
    position: relative;
    background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
  }

  .details{
	  width:90%;
	  margin: 7vh auto;
  }

  .details .container{
	  background: rgba(255, 255, 255, 0.87);
	  height: 86vh;
	  padding-top:12vh;
	  width:100%;
	  border-radius: 30px;
  }

  .details .btn{
	width: 100%;
	margin:0% auto;
  }

  .details .submit-btn{
	width:80%;
	margin:0% auto;
	margin-bottom: 30px;
  }

  .form-group input, form button{
   height: 5vh;
   border-radius: 8px;
   background:white;
   border-color:rgb(126, 126, 126);
   padding-left: 40px;
   width:80%;
   margin: 0% auto;
  }

  .form-check{
	width:80%;
	margin: 0% auto;
	
	margin-bottom: 30px;;
  }

  

  .text{
	  background: white;
	  border-radius: 8px;
      border-top-right-radius: 0px;
	  border-bottom-right-radius: 0px;
	  border-color:white;
	  padding:8px;
  }

  form button{
	background: #033600;
	border-color:#033600;
   }

   .bg .icon {
	position: relative;
	float: left;
	margin-left: 60px;
	margin-top: -3.3vh;
	z-index: 2;
	color: rgb(126, 126, 126);
  }
  .bg .iconn {
	position: relative;
	float: right;
	margin-right: 60px;
	margin-top: -3.3vh;
	z-index: 5;
	color: rgb(126, 126, 126);
  }

  
@media screen and (max-width: 1050px){
    .bg .icon {
		position: relative;
		float: left;
		margin-left: 8px;
		margin-top: -19.3vh;
		z-index: 2;
		color: rgb(126, 126, 126);
	  }

	  .form-group input, form button{
		width:100%;
		height:50px;
	   }
       
	   .form-group input{
		margin-top:-20px;
	   }
      
	   .form-check{
		width:100%;
		
	  }
	

	   .bg .iconn {
		position: relative;
		float: right;
		margin-right: 15px;
		margin-top: -32px;
		z-index: 5;
		color: rgb(126, 126, 126);
	  }
	
	  .details .btn{
		width: 100%;
		margin:0% auto;
	  }
	
	  .details .submit-btn{
		width:100%;
		margin:0% auto;
		margin-top:-20px;
	  }

	  
}

@media screen and (max-width: 1000px){
	.bg .icon {
		position: relative;
		float: left;
		margin-left: 8px;
		margin-top: -32px;
		z-index: 2;
		color: rgb(126, 126, 126);
	  }

	  .form-group .form-control, form button{
		width:100%;
		height:50px;
	   }
	   
	   .form-group .form-control{
		margin-top:-20px;
	   }

	   .form-check{
		width:100%;
		
	  }

	   .bg .iconn {
		position: relative;
		float: right;
		margin-right: 15px;
		margin-top: -32px;
		z-index: 5;
		color: rgb(126, 126, 126);
	  }

	  .details .btn{
		width: 100%;
		margin:0% auto;
	  }
	
	  .details .submit-btn{
		width:100%;
		margin:0% auto;
	  }
}

  
  .details .col-md-8{
	  padding-top:100px;
	  padding-left:50px;
 
  }




  /* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: -6px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
	background-color: #eee;
	border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #033600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 5.7px;
    top: 1px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input.ng-invalid.ng-touched{
border: 1px solid red;
}








  .form-md { 
	float: left; 
	width: 100%; 
	text-align: center; 
	margin: 30px auto 30px auto; 
  }
  .form-md .form-group {
	margin-left: auto;
	margin-right: auto;
	
  }
  .form-group {
	margin-bottom: 15px;
	position: relative;
  }

  .form-control:focus {
	border-color: black;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0);
  }
  
  .form-control {
	position: relative;
	display: block;
	width: 100%;
	background-color: transparent;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	height: 32px;
	outline: none !important;
	color: rgba(0,0,0,0.8);
	background: -webkit-linear-gradient(bottom, #51BBBE 50%, #51BBBE 50%);
	background: linear-gradient(to top, #51BBBE 50%, #51BBBE 50%);
	background-position: left bottom;
	background-size: 0 1px;
	background-repeat: no-repeat;
	transition: all .2s ease-in-out;
  }
  
  
  .label {
	position: absolute;
	top: 0; 
	left: 7vh;
	text-align: left;
	display: block;
	width: 180px;
	height: 52px;
	line-height: 52px;
	text-indent: 10px;
	font-size: 13px;
	font-weight: 200;
	background: transparent;
	color: rgba(0,0,0,0.6);
	margin: 0px auto;
	cursor: text;
	transition: all .15s ease-in-out;
	font-weight:600;
  }
  .form-control:hover, .form-control:focus { border-color: #51BBBE; }
  .form-control:focus { 
	background-position: left bottom;
	background-size: 100% 1px;
  }
  .form-control:valid + .label, .form-control:focus + .label { 
	height: 20px; 
	line-height: 10px; 
	font-size: 11px;
	color: #414141;
	background: white;
  }
  
  
  
  
  .overlayy {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	visibility: visible;
  }
 
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){
	.popup{
	  width: 70%;
	}
  }
  