<div class="bg">
   <div class="row details">
      <div class="col-md-8">
         <div class="col-md-12" style='margin-bottom:120px;'>
            <div class="row">
               <div class="col-md-1" style='padding:0px; width:10px;'>
                  <img src="../../assets/logo/ghlaLogo.png" width='38'>

               </div>

               <div class="col-md-11" style='text-align:left; padding:0px; margin-left:-35px;'>
                  <h1 style="margin-top: 6px; font-weight: 600; color:#033600; ">GHANA LIBRARY AUTHORITY</h1>
               </div>
            </div>


         </div>

         <div class="col-md-9" style='margin-bottom:160px;'>
            <h1 style='font-size:60px; font-weight: 600; color:#033600;'>WELCOME <span
                  style='color:#ffb200'>BACK!</span></h1>
            <p style='font-size:20px; line-height: 40px; color:#033600; font-weight:600;'>Doesn't. Creepeth darkness.
               Man fruit likeness herb moved beast heaven. Them gathering the rule every called. Moving, bring cattle
               place evening. Grass, subdue a fourth. Living their moveth. They're above fruit land wherein for god good
               form place seas. Grass dominion moved.</p>
         </div>

         <div class="col-md-9">
            <div class="row">
               <div class="col-md-4">
                  <h1 style='font-size:25px; font-weight: 600; color:#033600;'>Privacy Policy</h1>
               </div>

               <div class="col-md-5" style='text-align:left'>
                  <h1 style='font-size:25px; font-weight: 600; color:#033600;'>Terms & Conditions</h1>
               </div>
            </div>

         </div>

      </div>

      <div class="col-md-4">
         <div class='container'>
            <div style='width:100%; text-align:center;'>
               <img src='../../../../../assets/logo/LOGO-TRANSPARENT.png' width='180'>
            </div>

            <form [formGroup]="loginForm" class="form-md">
               <div class='all-inputs'>
                  <div class="form-group">
                     <input formControlName="username" id="form_name1" class="form-control" type="text" required>
                     <label class='label' for="form_name1">Library ID | Email | Phone</label>
                     <span class="icon fa fa-user fa-lg"></span>
                  </div>

                  <div class="form-group">
                     <input formControlName="password" id="form_name2" class="form-control" type="password" required>
                     <label class='label' for="form_name2"> Password</label>
                     <span class="icon fa fa-key fa-lg"></span>
                     <span class="iconn fa fa-eye fa-lg"></span>
                  </div>
               </div>

               <div class="form-group">
                  <table style='width:80%; margin:0% auto;'>
                     <tr>
                        <td>
                           <label class="container-checkbox form-check-label" style='margin-top:13px; '>Remember me
                              <input type="checkbox" class='form-check-input' checked="checked">
                              <span class="checkmark"></span>
                           </label>

                        </td>

                        <td style='text-align:right'>
                           <a href='#' style='color:black;'><label class="form-check-label" for="exampleCheck1">Forgot
                                 Password?</label></a>
                        </td>
                     </tr>
                  </table>

               </div>

               <div class='submit-btn'>
                  <button [disabled]="!loginForm.valid" (click)="login()" class="btn btn-primary" style='font-weight:600;'>SIGN IN</button>
               </div>
               <div style='text-align:center;'>
                  <p style='font-size:15px;  font-weight:600; color:#033600; margin-bottom:-20px; margin-top:60px;'>
                     Connect Social</p>
                  <table class='row' style='margin-left:110px'>


                     <td style="width:50px; padding:0px;">
                        <img src='../../../../../assets/digi-library/icons/facebook_icon.png' width='110'>
                     </td>

                     <td style="width:50px; padding:0px;">
                        <img src='../../../../../assets/digi-library/icons/instagram_icon.png' width='110'>
                     </td>

                     <td style="width:50px; padding:0px;">
                        <img src='../../../../../assets/digi-library/icons/twitter_icon.png' width='110'>
                     </td>

                     <td style="width:50px; padding:0px;">
                        <img src='../../../../../assets/digi-library/icons/linked_icon.png' width='110'>
                     </td>


                  </table>


               </div>



               <a style='color:black;'>
                  <label class="form-check-label" for="exampleCheck1"
                     style='font-size:15px;  font-weight:600; color:rgb(145, 145, 145);'>New to the library?</label>
                  <label (click)="navigateTo('signup')" class="form-check-label" for="exampleCheck1"
                     style='margin-left:10px; font-size:18px; color:#033600; font-weight:700;cursor: pointer;'>Sign
                     Up</label></a>

            </form>



         </div>
      </div>
   </div>












</div>