<div class="bg">
   <div class="row details">
      <div class="col-md-8">
         <div class="col-md-12" style='margin:8vh auto; text-align:center; padding:0px;'>

            <img src="../../../../../assets/digi-library/icons/avatar.png" width="480" class="rounded-circle">

         </div>

         

      </div>

      <app-alert-dialog [title]="'Alert!'" [message]="message" > </app-alert-dialog>
      <app-loader></app-loader>

      <div class="col-md-4">
         <div class='container'>
            <div style='width:100%; text-align:left;'>
               <h1 style='font-weight:600;  color:#033600;'>Change Password</h1>
               <p style="font-size:17px; color:rgb(87, 86, 86)">Enter your new password.</p>
            </div>

            <form [formGroup]="resetPasswordForm" class="form-md">

               <div class="form-group">
                  <input formControlName="password1" id="form_name1" class="form-control" type="password" required>
                  <label class='label' for="form_name1"> Enter Password </label>

               </div>

               <div class="form-group">
                  <input formControlName="password2" id="form_name1" class="form-control" type="password" required>
                  <label class='label' for="form_name1"> Confirm Password </label>

               </div>







               <div class='submit-btn'>
                  <button [disabled]="!resetPasswordForm.valid" (click)="resetPassword()" class="btn btn-primary" style='font-weight:600;'>SUBMIT</button>
               </div>




            </form>



         </div>
      </div>


   </div>












</div>