
       <div class="p-4 p-md-5 pt-5">
        <!---Recently Added-->
            <div style='margin-bottom:40px;'>
             <div class="row">
               <div class="col-md-6" style='text-align:left'>
                 <p>Recently Added</p>
               </div>
      
               <div class="col-md-6" style='text-align:right'>
                <p>See more</p>
              </div>
             </div>
            
      
             <div class="row">
               <div class="col-md-2" >
                  <div class='item-display-cards'>
      
                  </div>
               </div>
      
               <div class="col-md-2">
                <div class='item-display-cards'>
      
                </div>
      
              </div>
      
      
              <div class="col-md-2">
                <div class='item-display-cards'>
      
                </div>
      
              </div>
      
              <div class="col-md-2">
                <div class='item-display-cards'>
      
                </div>
      
              </div>
      
              <div class="col-md-2">
                <div class='item-display-cards'>
      
                </div>
      
              </div>
      
              <div class="col-md-2">
                <div class='item-display-cards'>
      
                </div>
      
              </div>
             </div>
            </div>
      
      
             <!---Popular E-books-->
            <div style='margin-bottom:40px;'>
              <div class="row">
                <div class="col-md-6" style='text-align:left'>
                  <p>Popular E-books</p>
                </div>
       
                <div class="col-md-6" style='text-align:right'>
                 <p>See more</p>
               </div>
              </div>
             
       
              <div class="row">
                <div class="col-md-2" >
                   <div class='item-display-cards'>
       
                   </div>
                </div>
       
                <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
              </div>
            </div>
      
      
      
             <!---Popular Videos-->
             <div style='margin-bottom:40px;'>
              <div class="row">
                <div class="col-md-6" style='text-align:left'>
                  <p>Popular Videos</p>
                </div>
       
                <div class="col-md-6" style='text-align:right'>
                 <p>See more</p>
               </div>
              </div>
             
       
              <div class="row">
                <div class="col-md-2" >
                   <div class='item-display-cards'>
       
                   </div>
                </div>
       
                <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
              </div>
            </div>
      
      
            <!---Popular Audio books-->
            <div style='margin-bottom:40px;'>
              <div class="row">
                <div class="col-md-6" style='text-align:left'>
                  <p>Popular Audio books</p>
                </div>
       
                <div class="col-md-6" style='text-align:right'>
                 <p>See more</p>
               </div>
              </div>
             
       
              <div class="row">
                <div class="col-md-2" >
                   <div class='item-display-cards'>
       
                   </div>
                </div>
       
                <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
       
               <div class="col-md-2">
                 <div class='item-display-cards'>
       
                 </div>
       
               </div>
              </div>
            </div>
      
            </div>
      
  
