<div class="p-1 p-md-3 pt-5" style='margin-top:-60px;'>
    <div class="row">
        <div class="col-md-12" style='background:black; padding:40px;'>
            <div class="row">
                <div [ngStyle]="{'background-image':'url('+ebook.cover+')'}" class="col-md-2"
                    style='height:30vh;background: rgb(161, 161, 161); margin:0% auto; border:5px solid white;'>

                </div>
            </div>


        </div>

        <div class="col-md-12" style='text-align:center;'>
            <h3 style='font-weight:700;'>{{ebook.title}}</h3>
            <p style='height:10px; color:rgb(126, 126, 126);'>{{ebook.author}}</p>
            <p style='height:10px; color:rgb(126, 126, 126);'><span>Publisher: </span> <span>{{ebook.publisher}}</span> ||
                <span>Format: </span> <span>Epub</span> || <span>Language: </span> <span>{{ebook.language}}</span></p>
            <button (click)="loadEpub()" class="btn btn-primary"
                style='font-weight:600; padding: 3px; width:15%; background:#033600; border-color: #033600;'>Read</button>

        </div>

        <div class="col-md-12" style='padding-left:70px; padding-right:70px; margin:2% auto;'>
    
            <p style='line-height:30px; color:rgb(126, 126, 126);'>{{ebook.summary}}
            </p>
            <div class="col-md-12" style='text-align:right;'>
                <!-- <p><a href="#" style='color:#033600;'>read more</a></p> -->
            </div>
        </div>

    </div>
</div>