
<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header" style='margin-top:60px;'>
            <h2>About Us</h2>
            <span class="underline center"></span>
            <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Blog Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="services-main">
                <div class="services-pg">                            
                    <section class="services-offering">
                        <div class="container">
                            <div class="center-content">
                                <h2 class="section-title">What To Know </h2>
                                <span class="underline center"></span>
                                <p class="lead">The standard chunk of Lorem Ipsum used since</p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            
                        </div>
                    </section>

                    
                   <section style='margin-top:-230px;'>
                       <div class="row" style='width:60%; margin:0% auto;'>
                           <div class="col-md-12">
                                <h3 class="section-title">HISTORY AND GROWTH</h3>
                                <span class="underline left"></span>
                                <p>The Ghana Library Authority (formerly Ghana Library Board) was established out of a
                                    generous contribution of £1,000 donated by the late RT. Rev. John Orfeur Aglionby, the
                                    then Anglican Bishop of Accra. In 1946, the Aglionby Library Management Committee
                                    worked with the British Council Advisory Committee towards library development in the
                                    then Gold Coast. The work of the Committee resulted in the passing of the Gold Coast
                                    Library Board Ordinance, Cap 118, in December, 1949, which became operational on
                                    January 1, 1950.</p>
                                    <p>The Library Service run by the Ghana Library Authority (GhLA) then became the
                                    defacto public library service in Ghana. It is one of the pre-independence heritages
                                    birthed in a single room in 1950 at the King George Memorial Hall with an initial
                                    collection of 27,000 books and total member of 3,000. Today the GhLA which
                                    epitomizes one of the rich heritages of this country has grown to possess a total of
                                    940,289 hard copy books and over 7,000 eBooks supported by a footprint of 74
                                    branches across the country. Over the years the Ghana Library Authority&#39;s service has
                                    experienced monumental challenges in maintaining operations with a view to enabling
                                    literacy driven efficacy. The noble objective of positioning the GhLA as a best in class
                                    institution which seeks to reinforce good reading habits can be seen to be at risk given
                                    the monumental financial, operational and program efficacy challenges faced by the
                                    organization. According to the UNESCO Institute for Statistics, global literacy rate for all
                                    people aged 15 and above (15+ polled together as adult growth rates) is positioned at
                                    86.3% with Ghana currently positioned at 76.6% in 2015 from 57.9% at an average
                                    annual growth rate of 15.30%. This however discounts literacy rates of non-adults
                                    (those below 15+) where there is a dire need to improve literacy if improvements in
                                    adult literacy rates are to be sustained.</p>
                                    <p>There is therefore an urgent need and a necessarily requisite call to action, with the
                                    need for an associate positive response driven by champions of good such as your
                                    organization in partnership with the GhLA to collectively influence literacy rates in
                                    Ghana through the power of the collective in influencing reading habits.</p>
                              
                           </div>

                           <div class="col-md-12">
                            <h3 class="section-title">PUBLIC LIBRARY SYSTEM, AN ENABLER OF DEVELOPMENT</h3>
                            <span class="underline left"></span>
                            <p>The work that the GhLA does goes a long way to determine the extent to which
                                information can first be stored, accessed and managed in a way that enhances the
                                ability of the public to acquire knowledge in satisfaction of their general information and
                                specific educational needs. Such combined repository of knowledge and its associated
                                usage is consequentially critical to our ability to tackle illiteracy, poverty, disease,
                                unemployment related problems.</p>
                                <p>As part of carrying out its mandate, the GhLA engages in activities like preparing and
                                disseminating guidelines for the establishment of public, community and school libraries
                                to improve the capacity of the population in reading and information seeking and
                                retrieval towards life-long learning.</p>
                                
                                <p>The GhLA through its regional and branch libraries is focused on encouraging the public
                                to enjoy and excel in reading, writing, general literacy and general information share
                                across all age groups.
                                Such shared learning when adequately scaled leads to the evolution of skilled, well
                                rounded human resources critical to the development of the country.</p>
                            
                           </div>
     

                       </div>
                       
                   </section>
                   <section class="services-offering">
                    <div class="container">
                        <div class="center-content">
                            <h2 class="section-title">BECOME A PATRON</h2>
                            <span class="underline center"></span>
                            <p class="lead">The standard chunk of Lorem Ipsum used since</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                </section>

                   <section style='margin-top:-130px;'>
                    <div class="row" style='width:60%; margin:0% auto;'>
                        <div class="col-md-12">
                            <h3 class="section-title">BECOME A PATRON OF GHANA LIBRARY</h3>
                             <span class="underline left"></span>
                             <p>Our Patrons share our collective interest in life-long learning. They help us to reach new
                                heights to serve the interest of our visitors. Besides providing public library services,
                                Ghana Library Authority holds written memoir of Ghana through the legal deposit.</p>
                                
                                <p>As a patron, you will become part of people with profound interest and fidelity to library
                                as a catalyst to transform Ghana&#39;s development. A learned nation, is a winning nation.
                                Patrons will benefit from exclusive access to key events, exhibitions, screenings,
                                meeting rooms, conferences, CEO &amp; Chairperson&#39;s Interaction forum, as well Minister&#39;s
                                library forum.</p>
                                
                                <p>We have introduced a three tier support levels with a line-up of benefits</p>
                                
                                <p>- Shakespeare Patrons- 10,000 GHC</p>
                                <p>- Hemingway Patron - 5000 GHC</p>
                                <p>- Mark Twain Patrons - 2000 GHC</p>
                                
                                <p>Your support to Ghana Library Authority will make a difference in enhancing our work to
                                make Ghana a reading nation. Please contact Mr. Daniel Mate-Korley, Head of
                                Partnerships and Programmes on partnerships@ghanalibrary.org.</p>
                             
                        </div>

                        <div class="col-md-12">
                            <h3 class="section-title">BECOME A MEMBER</h3>
                             <span class="underline left"></span>
                             <p>We exist because of you! Visit our nearest library and register as a member or
                                download the “Ghana Library” App on PlayStore or AppStore, register and become a
                                digital member.</p>
                                <p>Benefit of Membership</p>
                                <p>- Free Access to all libraries</p>
                                <p>- Borrow books from the public libraries</p>
                                <p>- Free Access to Exhibitions at the library</p>
                                <p> -Free access to all digital content</p>
                             
                        </div>
  

                    </div>
                    
                

                    
                    
                </section>

                    <!-- <section class="company-info-boxx">
                        <div class="company-info">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 aligncenter">
                                    <div class="col-md-6 border-dark-left">
                                        <div class="row">
                                            <div class="col-md-1@">
                                                <div class="company-detail bg-dark margin-left">
                                                    <h3 class="section-title">Study Rooms</h3>
                                                    <span class="underline left"></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.</p>
                                                    <a href="services.html#." class="btn btn-primary">Get a card</a>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="company-detail bg-dark margin-left">
                                                    <h3 class="section-title">Study Rooms</h3>
                                                    <span class="underline left"></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.</p>
                                                    <a href="services.html#." class="btn btn-primary">Get a card</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 border-dark">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="company-detail bg-light margin-right">
                                                    <h3 class="section-title">Books and more</h3>
                                                    <span class="underline left"></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.</p>
                                                    <a href="contact.html" class="btn btn-dark-gray">Make a request</a>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <div class="company-detail bg-light margin-right">
                                                    <h3 class="section-title">Books and more</h3>
                                                    <span class="underline left"></span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec mauris a neque tincidunt iaculis. Sed tristique luctus sapien. Vestibulum arcu magna, ullamcorper quis porta ac, venenatis non ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras commodo sollicitudin felis vel porttitor. Quisque vitae egestas sapien.</p>
                                                    <a href="contact.html" class="btn btn-dark-gray">Make a request</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->



                    
                    <!-- Start: Category Filter -->
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Blog Section -->

