<div class="bg">
   <div class="row details">
      <div class="col-md-8">
         <div class="col-md-12" style='margin:8vh auto; text-align:center; padding:0px;'>

            <img src="../../../../../assets/digi-library/icons/avatar.png" width="480" class="rounded-circle">

         </div>

         <app-alert-dialog [title]="'Alert!'" [message]="message" > </app-alert-dialog>
         <app-loader></app-loader>
         

      </div>

      <div class="col-md-4">
         <div class='container'>
            <div style='width:100%; text-align:left;'>
               <h1 style='font-weight:600;  color:#033600;'>Forgot Password</h1>
               <p style="font-size:17px; color:rgb(87, 86, 86)">Enter your email and we will send you a link to reset
                  password.</p>
            </div>

            <form class="form-md">

               <div [formGroup]="usernameForm" class="form-group">
                  <input formControlName="username" id="form_name1" class="form-control" type="text" required>
                  <label class='label' for="form_name1">youremail@provider.com </label>
                  <span class="icon fa fa-envelope fa-lg"></span>
               </div>






               <div class='submit-btn'>
                  <button [disabled]="!usernameForm.valid" (click)="requestToken()" class="btn btn-primary" style='font-weight:600;'>SUBMIT</button>
               </div>




            </form>



         </div>
      </div>


   </div>












</div>